@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", serif;
    --fonte3: "Sriracha", serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
 font-family: var(--fonte1);   
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}



header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 3em;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}


article{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.0vw;
}

article > p{
    padding-bottom: 2em;
}

article.normal{
    background-color: white;
    color: black;
}

article.imagem{
    background-color: rgb(57, 56, 56);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.649);
    background-attachment: fixed;
}

article.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(74, 72, 72, 0.796);
    text-shadow: 1px 1px 1px black;
}

article#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

article#img2{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}